.manager-layout__header .header__center .search-input {
  align-self: center !important;
  height: auto !important;
  line-height: 1.2 !important;
}

.manager-layout__header .header__center .search-icon {
  place-self: center !important;
  width: 18px !important;
  height: 18px !important;
  padding: 0 !important;
  background: transparent !important;
}
