@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

.order-summary {
  padding: v.$spacing-lg;
  border-top: 1px solid v.$gray-200;
}

.summary-row {
  @include m.flex-between;
  margin-bottom: v.$spacing-sm;
  font-size: v.$text-sm;
  &:last-child {
    margin-bottom: 0;
  }

  &--total {
    font-weight: 700;
    font-size: v.$text-base;
    color: v.$primary;
    border-top: 1px solid v.$gray-200;
    padding-top: v.$spacing-sm;
    margin-top: v.$spacing-md;
  }
}
